.title {
  color: magenta;
}

.error {
  color: red;
  font-weight: bold;
}

.loading {
  color: purple;
  font-style: italic;
}

.success {
  color: green;
}

.comment {
  display: flex;
  gap: 8px;
}

.commenter {
  font-style: italic;
  color: magenta;
}
